@import '../../styles/variables.scss';

.rates-component {
    .rates-table {
        border-spacing: 0;
        width: 100%;

        thead {
            background-color: rgba($primary, 0.5);
            color: white;

            th {
                padding: 10px;
            }
        }

        tbody {
            td {
                border-bottom: solid 1px $primary;
                padding: 10px 5px;
            }

            .dollars {
                text-align: right;
            }
        }
    }
}
