@import 'variables.scss';

.error {
    color: $error;
}

.error-message {
    background-color: rgba($error, 0.2);
    border-radius: 3px;
    color: $error;
    padding: 10px;
    text-align: center;
}

.primary {
    background-color: $primary;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.container {
    background-color: #fbfbfb;
    border-radius: 3px;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 960px;
    padding: 1rem;

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 576px) {
        max-width: 540px;
    }
}

.centered {
    text-align: center;
}

input {
    border: solid 1px gray;
    border-radius: 3px;
    box-sizing: border-box;
    display: block;
    margin-top: 5px;
    padding: 10px 5px;
    width: 100%;

    &:focus {
        border-color: $primary;
        outline: none;
    }
}

button {
    background-color: $primary;
    border: none;
    border-radius: 3px;
    color: white;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 10px 5px;
    width: 100%;
}

.margin-top {
    margin-top: 1rem;
}

.currency-link {
    color: $primary;
    font-weight: bold;
    text-decoration: none;
}
