@import '../../styles/variables.scss';

.select-component {
    .select__control {
        border: solid 1px gray;
        margin-top: 5px;
        box-shadow: none;

        &:hover {
            border-color: $primary;
        }
    }

    .select__option--is-focused {
        background-color: $primary-light;
    }

    .select__option--is-selected {
        background-color: $primary;
    }
}
