@import '../../styles/variables.scss';

.exchange-calculation-component {
    background-color: rgba($primary, 0.1);
    border-radius: 3px;
    margin: 10px 0;
    padding: 10px;

    .calculation-title {
        color: $primary;
        font-weight: bold;
        margin-top: 0;
        text-align: center;
    }

    .calculation-body {
        display: flex;
        align-items: center;
        
        .calculation-info {
            width: 80%;
            min-width: 80%;
        }
    }
}
