@import '../../styles/variables.scss';

.header-component {
    align-items: center;
    background-color: $primary;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    text-align: center;

    .title {
        font-size: 1.5rem;
    }

    .header-link {
        border: solid 1px white;
        border-radius: 3px;
        padding: 5px;
        color: white;
        margin: 0 5px;
        text-decoration: none;
    }
}
