@import '../../styles/variables.scss';

.loading-component {
    align-items: center;
    background-color: rgba(lightgray, 0.75);
    display: flex;
    height: 100vh;
    justify-content: center;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;

    .spinner {
        animation: spin 1.5s linear infinite;
        border: 3px solid #f3f3f3;
        border-radius: 50%;
        border-top: 3px solid $primary;
        height: 100px;
        width: 100px;
        -webkit-animation: spin 1.5s linear infinite;
    }
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
